h1{
  color:black;
}

.load-adresses btn btn-primary{
  background-color: green;
}
section{
  border-style: solid;
  border-width: 1px;
  border-color: black;

}


.headline{
  text-align: center;
}
div{margin: 10px;}
