/* #main-page-edit {
    background-color: white;
    padding: 1em;
} */

/* #main-page-edit .form > * {
    display: block;
    width: 100%;

    border: 0px solid lightgrey;
    border-bottom-width: 1px;

    padding: 0.5em 0 0.5em 0;
    margin-bottom: 1em;
} */


.form{
  text-align: center;
}
#rezeptname{
  width: 300px;
  margin-top: 15px;
}
#zutaten{
  width: 300px;
  margin: 15px;
}
#beschreibung{
  width: 300px;
}
#bild{
  width: 300px;
  margin-bottom: 15px;
}
.save btn btn-primary{
  margin: 15px;
}
