/*
 * Dieses Stylesheet enthält nur allgemeine Anweisungen, die sich auf die
 * gesamte App auswirken. Hier dürfen keine Änderungen vorgenommen werden,
 * die sich nur auf bestimmte Bereiche der Anwendung auswirken sollen.
 *
 * Damit @import funktioniert, muss die Anweisung vor allen anderen
 * CSS-Anweisungen stehen. Dieses Stylesheet muss daher auch vor allen
 * anderen importiert werden.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');
header{
  color: black;
  background-color: #048f3c;
}
nav{
  color:#048f3c;
}
html, body {
    margin: 0;
    align-content: center;

}

body {
    font-family: 'Roboto';
    font-size: 12pt;
    color:black;
    background-color: #b9d3b6;
}

.hidden {
    display: none;
}
nav{
  color: black;
  font-size: 1.4rem;
}
#rezeptname{
  color: black;
}

#beschreibung{
  color:black;
}
#zutaten{
  color:black;
}
